.location__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location__title {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  color: white;
}

.location__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 60px;
  background-color: var(--background-cards);
  padding: 20px;
  font-size: larger;
}

.location__card-item {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 600;
  gap: 8px;
}

.location__card-span {
  color: lightgray;
}